/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-bright-white: #F8F8F8;
  --color-light-white: #eeeeee;
  --color-deep-white: #E5E5E5;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #333333;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-light-yellow: #fff7d1;
  --color-yellow:#f5b914;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-black: #1a1a1a;
 

  /* Font size */
  --font-large: 48px;
  --font-medium  : 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Animation */
  --animation-duratoin: 300ms;

  /* Border Radius */
  --size-border-raius: 50px;
}

/* Universal tags */
html {
  scroll-behavior: smooth;
} 

body {
  color: #000;
  font-size: 16px;
  cursor: default;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "맑은고딕", "Malgun Gothic", "apple Gothic", "Apple SD Gothic Neo", Dotum, "돋움", Gulim, "굴림", "Helvetica-Neue", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  letter-spacing: -0.5px;
  word-break: keep-all;
}

/* Typography */
h4 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

.section h3 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin-bottom: 30px;
}

.section__container {
  margin: 0 auto;
  max-width: 1300px;
}

/* Navbar */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all var(--animation-duratoin) ease-in-out;
  z-index: 1;
}

#header.header--white {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-light-white);
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 72px;
}

h1.logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
  font-size: 16px;
}

.navbar__menu__item {
  position: relative;
  margin: 0 18px;
  line-height: 72px;
  display: inline-block;
}

.links.active .navbar__menu__item::after { 
  left: 0;
  right: 0;
}

.navbar__menu__item::after { 
  content: ""; 
  position: absolute; 
  left: 50%; 
  right: 50%; bottom: 0; 
  background: var(--color-yellow);
  height: 5px;
  transition: all 0.3s ease-out;
  z-index: -1; 
}

.links.active .navbar__menu__item:hover::after,
.navbar__menu__item:hover::after {
  left: 0;
  right: 0;
}

.header__container [class$="-btn"] {
  position: absolute;
  top: 24px;
  color: var(--color-black);
}

.navbar__toggle-btn {
  font-size: 27px;
  right: 0;
  display: none;
}

.navbar__close-btn  {
  font-size: 30px;
  right: 0;
  display: none;
}

/* Home*/
.home__container  {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 72px;
}

.home__container .home__text {
  padding-bottom: 120px;
}

.home__container h3 {
  font-size: 74px;
  font-weight: var(--weight-bold);
  margin-bottom: 20px;
}

.home__description {
  font-size: 30px;
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

.home__img {
  width: 50%;
  padding-top: 73px;
}

.home__avatar {
  width: 100%;
  height: auto;
}

.home__contact {
  color: var(--color-orange);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-orange);
  border-radius: var(--size-border-raius);
}

/* section common */
section {
  position: relative;
}

.section {
  padding: 100px 0 50px 0;
  text-align: center;
}

/* About */
#about {
  background-color: var(--color-bright-white);
}

.about__description {
  color: var(--color-dark-grey);
}

.about__majors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px auto;
}

.major__icon {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 70px;
  margin: auto;
  color:var(--color-yellow);
  border: 2px solid var(--color-yellow);
  border-radius: 50%;
  margin-bottom: 16px;
  background-color: var(--color-white);;
}

.major__icon i {
  transition: all var(--animation-duratoin) ease;
}

.major__icon:hover i {
  color: var(--color-dark-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title, .major__description {
  color: dark var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.about_jobs .job {
  position: relative;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.about_jobs li.last {
  margin-bottom: 0;
} 

.about_jobs li:before {
  content: "";
  position: absolute;
  top: 28px;
  left: 4px;
  bottom: -28px;
  width: 3px;
  border-radius: 3px;
  background-color: var(--color-dark-white);
}

.about_jobs li:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: var(--color-black);
}

.about_jobs li.last::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 0;
  background-color: none;
}

.job__name {
  font-size: 22px;
  font-weight: var(--weight-semi-bold);
  margin-bottom: 20px;
}

.job__description,
.job__period {
  color: var(--color-dark-grey);
}

/* Skills */
.skill__wrap {
  position: relative;
  padding: 26px 0 26px 0;
}

.skill__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.chart {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: 0.3s;
  margin-bottom: 20px;
}

.chart span.center {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  text-align: center;
  line-height: 110px;
  font-size: 25px;
  transform: translate(-50%, -50%);
}

/* Work */
#work {
  background-color: var(--color-bright-white);
}
.work__categoris {
  margin: 40px;
  display: flex;
  justify-content: center;
}

.work__categoris li {
  margin: 0 10px;
}
 
.category__btn {
  border-radius: var(--size-border-raius);
  font-size: 17px;
  padding: 0 20px;
  height: 44px;
  line-height: 44px;
  background-color: var(--color-deep-white);
  box-sizing: border-box;
  font-weight: 500;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-yellow);
  color: var(--color-black);
}

.work__contents {
  margin: 0 -15px;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  opacity: 1;
  transition: all var(--animation-duratoin) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.work__projects li {
  overflow: hidden;
  position: relative;
  width: calc((100% - 90px) / 3);
  max-height: 493px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 4px 11px 0 rgb(0 0 0 / 16%);
  background-color: #FFF;
  text-align: left;
  transform: translateY(10px);
  transition: all var(--animation-duratoin) ease-in;
  margin: 15px;
}

.work__projects li:hover {
  transform: translateY(0px);
  box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 20%);
} 

.project {
  width: 100%;
  display: inline-block;
}

.work__projects li.invisible {
  display: none;
}

.project__img {
  display: block;
  width: 100%;
  height: 234px;
  vertical-align: top;
  box-shadow: 4px 12px 30px 6px rgb(0 0 0 / 6%);
}

.project__img img {
  width: 100%;
  height: 100%;
}

.project__description {
  padding: 24px;
}

.project__title {
  display: -webkit-box;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 29px;
  font-weight: 700;
  color:var(--color-light-black);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: keep-all;
}

.project__sub {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.5px;
  word-break: keep-all;
  color: var(--color-grey);
}

/* Contact */
.contact__container p {
  padding: 30px 0 50px 0;
  font-size: 26px;
}

.contact__links {
  font-size: var(--font-large);
  margin-top: 24px;
  transition: all var(--animation-duratoin) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

/* Footer */
#footer {
  border-top: 1px solid #E5E5E5;
  padding: 2.2vw 0;
  text-align: center;
  
}

.footer__container {
  max-width: 1300px;
  margin: 0 auto;
}

.copyright {
  color: var(--color-light-grey);
  font-size: 14px;
  line-height: 1.75;
}

/* Scroll */
.arrow__up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow__up:hover {
  background-color: var(--color-yellow);
}

.arrow__up.visible{
  opacity: 1;
  pointer-events: auto;
}


/* info */
.paraScroll {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
  background: rgba(0,0,0,.4);
  color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  padding: 0px 20px;
}
.paraInfo {
  position: fixed;
  left: 20px;
  bottom: 70px;
  z-index: 1000;
  background: rgba(0,0,0,.4);
  color: #fff;
  padding: 20px;
  font-size: 12px;
  line-height: 1.8;
  border-radius: 10px;
}
.paraInfo li {
  list-style: none;
}



/* For below 1320px screen width */
@media (max-width: 1320px) {
  .section__container {
    max-width: 962px;
  }

  .home__container .home__text {
    padding-bottom: 70px;  
  }

  .home__container h3 {
    font-size: 56px;
  }
  
  .home__description {
    font-size: 23px;
  }

  .chart {
    position: relative;
    width: 228px;
    height: 228px;
  }

  .chart span.center {
    width: 95px;
    height: 95px;
    line-height: 95px;
  }

  .project__img {
    height: 170px;
  }
  
  .project__title {
    height: 58px;
    overflow: hidden;
  }

  .project__sub {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.5px;
    word-break: keep-all;
  }
}

/* For below 1023px screen width */
@media screen and (max-width: 1023px) {
  h1.logo {
    padding-top: 16px;
  }

  .header__container.open h1.logo{
    z-index: 4;
  }
  
  .navbar__toggle-btn {
    display: block;
  }

  .header__container.open .navbar__close-btn {
    display: block;
    z-index: 3;
  }

  .navbar__content {
    width: 100%;
    background-color: var(--color-white);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .header__container.open .navbar__menu  { 
    display: block;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 120px 15px 27px;
    background: #fff;
    opacity: 0.98;
    box-sizing: border-box;
  }

  .navbar__menu__item {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: var(--weight-semi-bold);
    z-index: 1;
  }

  .navbar__menu__item::after { 
    content: ""; 
    position: absolute; 
    left: 50%; 
    right: 50%; 
    bottom: 10px; 
    background: var(--color-yellow);
    height: 5px;
    transition: all var(--animation-duratoin) ease-in-out;
    z-index: -1; 
  }

  .links.active .navbar__menu__item::after {
    left: 0;
    right: 0;
    bottom: 10px;
  }

  .links.active .navbar__menu__item:hover::after,
  .navbar__menu__item:hover::after {
      left: 0;
      right: 0;
      bottom: 10px;
  }

  .section__container {
    max-width: 676px;
  }

  .home__container h3 {
    font-size: 40px;
    margin-bottom: 12px;
  }

  .home__description {
    font-size: 21px;
  }

  .home__contact {
    margin: 20px;
  }

  .home__img {
    padding-top: 43px;
  }

  .major__icon {
    width: 11vw;
    height: 11vw;
    line-height: 11vw;
    font-size: 6.2vw;
    /* width: 98px;
    height: 98px;
    line-height: 98px;
    font-size: 50px; */
  }

  .chart {
    position: relative;
    width: 158px;
    height: 158px;
  }

  .chart span.center {
    width: 62px;
    height: 62px;
    line-height: 62px;
  }

  .work__contents {
  }

  .work__projects li {
    width: calc((100% - 60px) / 2);
  }

  .project__img {
    height: 182px;
  }

}

/* For below 767px screen width */
@media screen and (max-width: 767px) {
  .section h3 {
    font-size: 38px;
  }

  .section h4 {
    font-size: 18px;
  }

  .section__container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1.logo {
    padding-top: 16px;
  }

  .navbar__toggle-btn {
    display: block;
    right: 24px;
  }

  .header__container.open .navbar__close-btn {
    display: block;
    right: 24px;
    z-index: 3;
  }

  .home__container {
    flex-direction: column;
    text-align: center;
    align-items: center;/
  }

  .home__container .home__text {
    padding-top: 40px;
    padding-bottom: 10px;
    line-height: 1.4;
  }

  .home__img {
    width: 100%;
    padding-top: 0;
  }

  .about__description {
    font-size: var(--font-small);
  }

  .about__majors {
    justify-content: center;
    gap: 5vw;
  }

  .major__icon {
    margin-bottom: 10px;
    width: 22vw;
    height: 22vw;
    line-height: 22vw;
    font-size: 12vw;
  }

  .major__title {
    font-size: 15px;
  }

  .job__name {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
  }

  .job__description {
    font-size: var(--font-small);
  }

  .skill__container {
    gap: 0;
  }

  .skill__container li {
    width: 50%;
    margin-bottom: 35px;
    text-align: center;
  }

  .chart {
    width: 42vw;
    height: 42vw;
    margin: 0 auto;
  }
  
  .chart span.center {
    width: 16vw;
    height: 16vw;
    font-size: 20px;
    line-height: 16vw;
  }

  .skill__container p {
    padding-top: 10px;
    color: dark var(--color-dark-grey);
  }

  .work__categoris {
    margin: 0 auto;
    justify-content: center;
  }

  .work__categoris li {
    margin: 0 6px 0 0;
  }

  .work__categoris li:last-child {
    margin-right: 0;
  }

  .category__btn {
    height: 37px;
    padding: 0 17px;
    font-size: 14px;
    line-height: 37px
  }

  .work__projects li {
    width: 100%;
    max-height: auto;
  }

  .project__img {
    height: auto;
  }

  .project__description h5 {
    font-size: var(--font-regular);
    height: 55px;
    font-weight: 600px;
  }

  .contact__container p {
    font-size: var(--font-regular);
  }

  .copyright {
    font-size: 12px;
  }
}


